clients.vtl
<h1>Manage Clients</h1>
<a class="btn btn-primary" href="/client/all">View all clients</a>
<a class="btn btn-info" href="/stylists">View clients by stylist</a>
<a class="btn btn-success" href="/">Home</a>
