<h1>Hair Salon Manager</h1>

<p>Organize hair stylists and their clientele.</p>

<a class="btn btn-info" href="/stylists">Manage Stylists</a>
<a class="btn btn-success" href="/clients">Manage Clients</a>
