stylist-form.vtl

<h1>Add a Stylist:</h1>

<form action="/stylists" method="post">
  <label for="stylist">Stylist Name:</label>
  <input id="stylist" name="stylist" type="text">
  <button type="submit" class="btn btn-success">Add Stylist</button>
</form>

<a class="btn btn-warning" href="/stylist">Back</a>
